*~
\#*\#
.\#*


# Python

# Byte-compiled / optimized / DLL files
__pycache__/


# Django

secrets.py
db.sqlite3

# OpenOffice
*.odt\#
*.ods\#
*.txt\#

runserver

*.jpg
*.JPG
*.Jpg

*.xls*
*.XLS*