{% extends "relatorios/base.html" %}
{% load static %}

{% block content %}
Preliminary Report
<pre style='color: red;'>{{ err }}</pre>

<form action="{% url "relatorios:xlsreport" %}" method="POST">
{% csrf_token %}
<table border="0" width="390" class="monospace">
    <tr>
        <td width="46%"><b>Estoque</b></td>
        <td width="27%"><b>Vd. {{ thisyr }}</b></td>
        <td width="27%"><b>Vd. {{ lastyr }}</b></td>
    </tr>
    
{% for block in blocks %}
    <tr>
        <td colspan="3" class="nowrap"><b>{{ block.codigo }}</b></td>
    </tr>
    <tr>
      <td colspan="3" class="nowrap">{{ block.nome }}</td></tr>

    <tr>
      <td class="nowrap" colspan="3">Chegando: {{ block.chegando }}
    </td></tr>
    
    <tr>
        <td colspan="3" class="nowrap blue">
        Incluido: <br> Ult est. {{ block.ultimoest }}</td>
    </tr>
    <tr> <td class="nowrap" width="46%">Estoque: <span style="background-color: #FF9;"><b>{{ block.estoque }}</b></span></td>
      <td class="nowrap" width="27%"><b>{{ block.totalVendasThisYear }}</b></td>
      <td class="nowrap" width="27%"><b>{{ block.totalVendasLastYear }}</b></td>
    </tr>
    <tr><td colspan="3" class="nowrap">
      Ult cont: {{ block.ultcont.data|date:"d/m/y" }} - {{ block.ultcont.container }} - {{ block.ultcont.qtde }} pçs</td></tr>
    <tr>
      <td colspan="3"><input type="checkbox" name="selected_cod" id="checkbox{{ block.codigo }}" value="{{ block.codigo }}" onfocus="document.getElementById('foto').src='/static/fotos/{{ block.codigo }}.jpg'" {% if forloop.first %}autofocus{% endif %}>
    <label for="checkbox{{ block.codigo }}"><b>{{ block.codigo }}</b></label>
    <span onmouseover="document.getElementById('foto').src='/static/fotos/{{ block.codigo }}.jpg'"><u>ver foto</u></span> <span style="background-color: #E88;"></span>
<br><br></td>
    </tr>
{% endfor %}
</table>
<input type="submit">
</form>
<img height="200" src="{% static "fotos/137350A.jpg" %}" style="position: fixed; bottom: 50px; left: 520px;" id="foto" alt="foto">
{% endblock %}