{% extends "relatorios/base.html" %}

{% block content %}
Verificar codigos

<pre style="color: red;">{{ warnings }}</pre>

<div style="display: inline-block; vertical-align: top;">
<table class="nopad">
<tr><td colspan="2">Dados atualizados em:</td></tr>
<tr><td>produtos</td><td>{{ atualizados.produtos|date:"Y-m-d" }}</td></tr>
<tr><td>caixas</td><td>{{ atualizados.caixas|date:"Y-m-d" }}</td></tr>
<tr><td>ativos</td><td>{{ atualizados.ativos|date:"Y-m-d" }}</td></tr>
<tr><td>estoques</td><td>{{ atualizados.estoques|date:"Y-m-d" }}</td></tr>
<tr><td>containers</td><td>{{ atualizados.containers|date:"Y-m-d" }}</td></tr>
<tr><td>pedidos</td><td>{{ atualizados.pedidos|date:"Y-m-d" }}</td></tr>
<tr><td>itenspedidos</td><td>{{ atualizados.itenspedidos|date:"Y-m-d" }}</td></tr>
<tr><td>encomendas</td><td>{{ atualizados.encomendas|date:"Y-m-d" }}</td></tr>
</table>
</div>

<div style="display: inline-block; vertical-align: top;">
Containers que chegaram<br>
<textarea rows="8" cols="15">{{ containers_chegaram }}</textarea>
<br>

Containers que vao chegar<br>
<textarea rows="8" cols="15">{{ containers_vao_chegar }}</textarea>
</div>

<div style="display: inline-block; vertical-align: top;">
Datas com pedidos<br>
<textarea rows="10" cols="20">{{ datas_com_pedidos }}</textarea>
</div>
<br>
<br><hr>

<form method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    
    <input type="submit">
</form>

{% endblock %}